html{
   font-style: normal;
   font-family: cormorant upright, serif;
   
   font-size: larger;
  }
  
.main-container{
    background-color: rgb(230, 222, 204);
}
.GEN{
    background-color: rgb(224, 204, 190);
    
}
.goal{
    background-color: rgba(170, 144, 144, 0.44);
}
.tops{
    background-color: rgb(169, 142, 122);
    text-align: center;
}
h4{
   font-weight: bolder;
   font-size: 30px;
   color: rgb(127, 85, 85);
}
p{
    font-weight: bolder;
}